<!DOCTYPE html>
<html>
<head>
    <title>SitoPizza login</title>
</head>
<body>
    <form method="POST" action="/users/login">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit">
    </form>
</body>
</html>